@media (max-width: 820px) {
  .WrappedContent {
    flex-wrap: wrap;
    width: 90%;
  }
  .LeftContainer {
    width: 100%;
    padding: 2.5rem 10px;
  }
  .RightCont {
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  .RightContCardsWrapper {
    justify-content: center;
    align-items: center;
  }
  .RightContTextWrapper {
    justify-content: center;
    align-items: center;
    width: 100%;
  }
}
